<form [formGroup]="form">
  <div class="form-group">
    <label for="select-station">Choisir la station: </label>
    <select id="select-station" formControlName="station" class="form-control form-control-lg">
      <option *ngFor="let station of stations" [value]="station.id">{{station.name}}</option>
    </select>
  </div>
</form>

<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-success" (click)="start()">Démarrer</button>
  <button type="button" class="btn btn-danger" (click)="stop()">Arrêter</button>
</div>
