<div class="container-fluid">

  <div class="banner">
    <h1>Welcome to skipass!</h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="list-inline" routerLinkActive="active">
          <a class="list-inline-item skipass-menu-link" routerLink="home">Home</a>
          <a class="list-inline-item skipass-menu-link" routerLink="month-invoice">Month invoice</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
