@font-face {
    font-family: "Delimax";
    src: url("/assets/Delimax.ttf");
}

.banner {
    background-image: url("/assets/montagne.jpg");
    background-size: 100%;
    height: fit-content;
    text-align: center;
}

.banner h1 {
    font-family: "Delimax";
    font-size: 10rem;
    padding: 50px;margin: 0;
}

.skipass-menu-link {
    text-decoration: none;
    color: #fff;
    padding: 0 30px;
}
